<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
        NOTE: These should be minified in a build script -->
        <script src="js/stack/jquery-3.1.1.min.js"></script>
        <script src="js/stack/flickity.min.js"></script>
        <script src="js/stack/easypiechart.min.js"></script>
        <script src="js/stack/parallax.js"></script>
        <script src="js/stack/typed.min.js"></script>
        <script src="js/stack/datepicker.js"></script>
        <script src="js/stack/isotope.min.js"></script>
        <script src="js/stack/ytplayer.min.js"></script>
        <script src="js/stack/lightbox.min.js"></script>
        <script src="js/stack/granim.min.js"></script>
        <script src="js/stack/jquery.steps.min.js"></script>
        <script src="js/stack/countdown.min.js"></script>
        <script src="js/stack/twitterfetcher.min.js"></script>
        <script src="js/stack/spectragram.min.js"></script>
        <script src="js/stack/smooth-scroll.min.js"></script>
        <script src="js/stack/scripts.js"></script>
        <!-- For file uploading. Remove if file upload not necessry -->
        <script type="text/javascript" src="/js/dropzone.js"></script> 

        <!-- Turbo CDN. Better to use CDN than to store locally. -->
        <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

        <!-- Your app specific code -->
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" 
                src="https://unpkg.com/sweetalert2@7.0.9/dist/sweetalert2.all.js" ></script>